src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:client="http://www.mulesoft.org/schema/mule/client"
      xmlns:avalara="http://www.mulesoft.org/schema/mule/avalara"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.2/mule-client.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/avalara http://www.mulesoft.org/schema/mule/avalara/2.0/mule-avalara.xsd">

    <description>

    </description>

    <avalara:config name="avaconf"/>

    <flow name="main">
        <vm:inbound-endpoint path="in" exchange-pattern="request-response"/>
        <logger message="Payload in flow = #[payload:]" level="ERROR" />
        <avalara:validate-address config-ref="avaconf" account="1100068440" license="0FB02FADB01DE0E5" avalaraClient="dummy"
                                  line1="525 Nelson Rising Lane" city="San Francisco" country="USA" postalCode="94158"
                                  region="CA" date="#[groovy:new Date()]" taxRegionId="1"/>
        <logger message="Payload in flow result = #[payload:]" level="ERROR" />
        <expression-transformer evaluator="groovy" expression="'abc'"/>
        <object-to-string-transformer/>
    </flow>
</mule>
